<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <uses-feature android:name="android.hardware.camera.ar" android:required="false" />

    <application
        android:name=".StudySyncApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.StudySyncproject"
        tools:targetApi="31">

        <meta-data
            android:name="com.google.ar.core"
            android:value="optional" />

        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.StudySyncproject.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MainActivity"
            android:exported="false" />

        <activity
            android:name=".ui.auth.LoginActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <activity
            android:name=".ui.auth.RegisterActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <activity
            android:name=".ui.auth.VerifyEmailActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <activity
            android:name=".ui.auth.TermsAndConditionsActivity"
            android:exported="false" />

        <activity
            android:name=".ui.onboarding.OnboardingActivity"
            android:exported="false" />

        <service
            android:name=".ui.timer.TimerService"
            android:exported="false"
            android:foregroundServiceType="specialUse" />

        <receiver
            android:name=".ui.tasks.TaskReminderReceiver"
            android:exported="false" />

        <receiver
            android:name=".ui.tasks.TaskReminderBootReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".ui.quiz.QuizDetailActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />

        <activity
            android:name=".ui.quiz.UploadModuleActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <activity
            android:name=".ui.quiz.GenerateModuleActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <activity
            android:name=".ui.quiz.ModuleDetailActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />

        <activity
            android:name=".ui.quiz.PdfViewerActivity"
            android:exported="false"
            android:parentActivityName=".ui.quiz.ModuleDetailActivity" />

        <activity
            android:name=".ui.quiz.QuizTakeActivity"
            android:exported="false" />

        <activity
            android:name=".ui.quiz.QuizResultActivity"
            android:exported="false" />

        <activity
            android:name=".ui.profile.ProfileActivity"
            android:exported="false" />

        <activity
            android:name=".ui.progress.ProgressActivity"
            android:exported="false" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider_paths" />
        </provider>

    </application>

</manifest>
